ul{
  margin-left: 20px;
}
ul li{
  list-style: circle;
  line-height: 30px;
}
ul li a{
  color: #666;
}
.scrollable-container {
  height: 100px;
}
.CardImg{
  height: 100%;
  width: 100%;
}
.UserStyle{
  margin-bottom: 20px;
}
.ant-card-bordered{
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.ant-card-bordered:hover{
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.ant-card-actions li{
  list-style-type: none;
}
